@media only screen and (max-width: 480px) {
    .PUnit {
        margin: 0 11% 0 11%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__hint {
            margin:0;
            padding:0;
            font-size: 50%;
            letter-spacing: 1px;
            font-weight: 100;
            color:#5d5d5d;
        }
        &__text {
            font-size: 70%;
            margin: 3% 0 0 0;
        }
        &__link {
            font-size: 70%;
            text-decoration:none;
            color: dodgerblue;
        }
    }
    .svgicon {
        max-width: 9.5%;
        min-width: 20px
    }
    .tools {
        margin-top: 1%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
}