@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import "./Partials/header";
@import "./Partials/navigation";
@import "./Partials/intro";
@import "./Partials/projects";
@import "./Partials/punits";
@import "./Partials/contact";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 300 20px "Source Sans Pro", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
@media only screen and (max-width: 480px) {
    .App {
        overflow-y: scroll;
        height: 100vh
    }
}
@media only screen and (min-width: 481px) {
    .App {
        overflow-y: scroll;
        overflow-x:hidden;
        height: 100vh;
        scroll-snap-type: y proximity;
    }
}