@import url("https://fonts.googleapis.com/css2?family=Shrikhand&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
.Header {
  text-align: center;
}

.Header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Header__text-head {
  font: 30px 'Shrikhand', sans-serif;
  margin: 0;
  padding: 0;
}

.Header__text-body {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 481px) {
  .Header {
    background-color: #fff;
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
  }
  .MobileHero {
    display: none;
  }
  .wrapper {
    margin-left: 25%;
  }
  .Header__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    width: 40%;
    padding-top: 5%;
  }
  .Header__text-head {
    font-size: 250%;
    margin: 0;
    padding: 0;
    line-height: 120%;
  }
  .Header__text-body {
    margin: 0;
    padding: 0;
    letter-spacing: 0.2em;
  }
  .Header__blobs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -5%;
  }
  .Header__blobs-home {
    position: absolute;
    margin: -16.5% 0 18.5% -1.5%;
    padding: 0;
    z-index: 99;
    font-family: "Shrikhand";
    font-size: 200%;
    color: #fff;
    text-decoration: none;
  }
  .blob {
    width: 20%;
    height: 17%;
  }
  .Leftblob {
    margin-left: -3%;
    width: 20%;
  }
  .Middleblob {
    margin-left: 2%;
  }
  .Rightblob {
    margin-top: -1.5%;
    margin-right: -3%;
    width: 24.5%;
  }
  .BigHero {
    float: right;
    margin: 0 18% 0 0;
  }
  .Header__more {
    padding-top: 10%;
  }
}

@media only screen and (max-width: 480px) {
  .BigHero, .Leftblob, .Rightblob, .Middleblob, .Header__blobs-home {
    display: none;
  }
  .MobileHero {
    margin-bottom: 5%;
  }
  .Header {
    margin: 14% 11% 0 11%;
  }
  .Header__text-head {
    width: 100%;
    height: 3em;
    line-height: 1.4em;
  }
  .Header__text-body {
    display: none;
  }
}

@media only screen and (min-width: 481px) {
  .Navigation {
    position: relative;
    z-index: 98;
    margin: -31% 5% 44% 5%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Navigation a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 105%;
    margin: 0 0 0 0%;
    text-transform: uppercase;
  }
  #resume {
    margin-right: 69%;
  }
  #project {
    margin-right: 2%;
  }
}

@media only screen and (max-width: 480px) {
  .Navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2.5%;
  }
  .Navigation a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 75%;
  }
}

@media only screen and (min-width: 481px) {
  .Intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10%;
    height: 100vh;
    scroll-snap-align: start;
  }
  .Intro__img {
    max-width: 30%;
  }
  .Intro__text {
    margin: 2.5em;
    text-align: left;
    font-size: 150%;
  }
  .Intro__text-head {
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 120%;
  }
}

@media only screen and (max-width: 480px) {
  .Intro {
    max-width: 100%;
    height: 25%;
    margin: 9.5% 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Intro__img {
    max-width: 35%;
    max-height: auto;
  }
  .Intro__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 55%;
    text-align: left;
    padding-left: 10%;
  }
  .Intro__text-head {
    font-weight: bold;
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 481px) {
  .Projects {
    scroll-snap-align: start;
    margin: 0 11%;
    padding: 8% 0;
  }
  .Projects__head {
    font-size: 200%;
    font-family: "Shrikhand";
  }
  .Projects__section {
    margin-bottom: 10%;
  }
  .Projects__section-head {
    font-size: 150%;
    font-weight: bold;
  }
  .Projects__section-img {
    -o-object-fit: contain;
       object-fit: contain;
    padding: 0 6% 0 0;
    max-width: 50%;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 480px) {
  .Projects__head {
    margin: 0;
    padding: 0;
    font-family: "Shrikhand";
  }
  .Projects__section {
    max-width: 100%;
  }
  .Projects__section-head {
    font-weight: bold;
    margin: 3.5% 0 4% 0;
    padding: 0;
  }
  .Projects__section-img {
    max-width: 80%;
    max-height: auto;
  }
}

@media only screen and (min-width: 481px) {
  .PUnit {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .PUnit__text {
    font-size: 130%;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.03em;
  }
  .PUnit__langs {
    margin-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 120%;
    width: 100%;
  }
  .PUnit__langs span {
    padding-right: 2%;
  }
  .PUnit a {
    text-decoration: none;
    color: dodgerblue;
    font-size: 120%;
  }
  .svgicon {
    max-width: 5.5%;
    min-width: 30px;
  }
  .svgicon svg {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .tools {
    width: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (max-width: 480px) {
  .PUnit {
    margin: 0 11% 7% 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .PUnit__langs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 60%;
    letter-spacing: 1px;
    font-weight: 100;
    color: #5d5d5d;
  }
  .PUnit__langs span {
    display: none;
  }
  .PUnit__text {
    font-size: 70%;
    margin: 3% 0 0 0;
  }
  .PUnit__link {
    font-size: 70%;
    text-decoration: none;
    color: dodgerblue;
  }
  .svgicon {
    max-width: 9.5%;
    min-width: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .tools {
    margin-top: 2.5%;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 481px) {
  .Contact {
    scroll-snap-align: end;
    margin: 0 10%;
    padding: 0 0 10% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Contact__header {
    font-size: 150%;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  .Contact__button {
    text-decoration: none;
    background-color: #676fb0;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 150%;
    padding: 1.5% 0;
    margin-bottom: 1.5%;
    max-width: 50%;
    width: 25%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 7px 0 rgba(0, 0, 0, 0.2);
  }
  .Contact__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Contact__social a {
    font-size: 170%;
  }
}

@media only screen and (max-width: 480px) {
  .Contact {
    margin: 8% 11% 5% 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Contact__button {
    max-width: 50%;
    width: 40%;
    padding: 1% 0 1% 0;
    font-size: 70%;
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 5%;
    border-radius: 3px;
    -webkit-box-shadow: 0px 3.5px 6.5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3.5px 6.5px 0 rgba(0, 0, 0, 0.12);
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 300 20px "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media only screen and (max-width: 480px) {
  .App {
    overflow-y: scroll;
    height: 100vh;
  }
}

@media only screen and (min-width: 481px) {
  .App {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    -ms-scroll-snap-type: y proximity;
        scroll-snap-type: y proximity;
  }
}
/*# sourceMappingURL=main.css.map */